<div class="welcome-main">
  <nav class="hero-nav container px-4 px-lg-0 mx-auto mt-5 sticky-top  bg-light p-3">
    <ul class="nav w-100 list-unstyled align-items-center p-0">
      <li class="hero-nav__item">
        <img class="hero-nav__logo zero-logo-my" src="assets/icon/zero-bgless.png">
      </li>
    </ul>
  </nav>
  <header class="hero container-fluid border-bottom">


    <div class="hero__content container mx-auto">
      <div class="row px-0 mx-0 align-items-center">
        <div class="col-lg-6 px-0">
          <h1 class="hero__title mb-3">
            Start your own <span class="highlight">online store</span>
          </h1>

          <p class="hero__paragraph mb-5">
            Create beautiful product catalogs.
            Share easily with customers.
          </p>
          <div class="hero__btns-container">
            <a class="hero__btn btn btn-secondary mx-lg-3" href="https://wa.me/60108200805?text=Hi%20There!"
              target="_blank">
              Merchant Sign-up
            </a>

          </div>
        </div>
        <div class="col-lg-3 mt-3 mt-lg-0 mx-0">
          <div class="hero__img-container">
            <img importance="high" src="assets/boolimg/first.png" class=" w-100 mt-2 stp-my">
          </div>
        </div>
        <div class="col-lg-3 mt-3 mt-lg-0 mx-0">
          <div class="hero__img-container">
            <img importance="high" src="assets/boolimg/second.png" class=" w-100 mt-2 stp-my">
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div id="Flow" class="hero__content block-11 space-between-blocks">
      <div class="container">
        <div class="block__header col-lg-8 col-xl-7 mx-auto text-center">
          <h1 class="block__title mb-3">Simple. Like 1-2-3...</h1>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center ">
          <div class=" col-sm-3 col-md-3 mr-md-3">
            <div class="text-center ">
              <h1>Step<span class="highlight"><b>&nbsp;1</b></span></h1>
              <p class="step__paragraph mb-5">
                Add catalogs & products
              </p>
            </div>
            <img class="w-100 mt-2 stp-my" src="assets/newimg/one.png">
          </div>
          <div class="col-sm-3 col-md-3 mx-md-3">
            <div class="text-center ">
              <h1>Step<span class="highlight"><b>&nbsp;2</b></span></h1>
              <p class="step__paragraph mb-5">
                Share with customers
              </p>
            </div>
            <img class="w-100 mt-2 stp-my" src="assets/newimg/two.png">
          </div>
          <div class="col-sm-3 col-md-3 ml-md-3">
            <div class="text-center ">
              <h1>Step<span class="highlight"><b>&nbsp;3</b></span></h1>
              <p class="step__paragraph mb-5">
                Get & manage orders
              </p>
            </div>
            <img class="w-100 mt-2 stp-my" src="assets/newimg/three.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="faq" class="block-39 space-between-blocks">
      <div class="container">
        <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
          <h1 class="block__title">Loved and trusted by our customers</h1>
        </div>
        <div class="row px-2">
          <div class="col-lg-12">
            <div class="content-block">
              <p class="content-block__paragraph text-justify text-center">
                “We wanted our store to be a link that can be posted in all our communications. Shopify came into my
                research and, but that was suitable for the US market, but not suitable for the Malaysian market.”
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="feature-b" class="block-11 space-between-blocks">
      <div class="container">

        <div class="block__header col-lg-8 col-xl-7 mx-auto text-center">

          <h1 class="block__title mb-3"><span class="highlight">Zero </span> Shopping Features
          </h1>

        </div>
        <div class="row align-items-center justify-content-center flex-column-reverse flex-lg-row ">
          <!-- <div class="col-lg-3 col-xl-3 mr-5 ">
          <img class="w-100 mb-2" src="assets/boolimg/Capture11.png">
        
          <img class="w-100 mt-2" src="assets/boolimg/Capture12.png">
        </div> -->
          <div class="col-md-12 col-lg-12 col-xl-8">
            <div class="row">
              <div class="col-md-4 mb-2-1rem w-100">
                <div class="card-1 card-1--selected text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fab fa-whatsapp"></i>
                  </span>
                  <h3 class="card-1__title mb-2">Sell on Whatsapp and Facebook
                  </h3>
                  <!-- <p class="card-1__paragraph text-justify">
                  Customers scan and bag items while they shop, then checkout and pay, entirely on a smartphone. With
                  an average checkout time of <b> 12.7 Seconds</b>, Mobile Checkout customers will have more time to
                  shop and
                  visit more often.
                </p> -->
                </div>
              </div>
              <div class="col-md-4 mb-2-1rem w-100">
                <div class="card-1 card-1--selected text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fas fa-credit-card"></i>
                  </span>
                  <h3 class="card-1__title mb-2">Accept online payments<br>(Coming Soon)
                  </h3>

                </div>
              </div>
              <div class="col-md-4 mb-2-1rem w-100">
                <div class="card-1 card-1--selected text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fas fa-truck"></i>
                  </span>
                  <h3 class="card-1__title mb-2">Integrate with delivery partners<br>(Coming Soon)
                  </h3>
                </div>
              </div>
              <div class="col-md-4 mb-2-1rem w-100">
                <div class="card-1 text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fas fa-chart-bar"></i>
                  </span>
                  <h3 class="card-1__title mb-2">Understand what customers like</h3>
                </div>
              </div>
              <div class="col-md-4 mb-2-1rem w-100 ">
                <div class="card-1 text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fas fa-globe"></i>
                  </span>
                  <h3 class="card-1__title mb-2">Get your own website</h3>
                </div>
              </div>
              <div class="col-md-4 mb-2-1rem w-100 ">
                <div class="card-1 text-center">
                  <span class="card-1__symbol mx-auto mb-4">
                    <i class="fas fa-tasks"></i>
                  </span>
                  <h3 class="card-1__title mb-2">And lots more…
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="faq-b" class="block-39 space-between-blocks">
      <div class="container">
        <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
          <h1 class="block__title">Frequently Asked <span class="highlight">Questions</span></h1>
        </div>
        <div class="row px-2">
          <div class="col-lg-6">
            <div class="content-block">
              <h4 class="content-block__title">
                Why do I need a Whatsapp-integrated store?
              </h4>
              <p class="content-block__paragraph text-justify">
                In the age of social media, if you are not promoting your products on Facebook and Whatsapp you are
                missing out. Zero helps you to set up a Whatsapp-integrated shop, so you can sell products over
                whatsapp.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-block">
              <h4 class="content-block__title">
                Is Zero free?
              </h4>
              <p class="content-block__paragraph text-justify">
                Yes, Zero is on a mission to help small scale businesses by providing them free services. Taking
                orders, enquiries and receiving payments will always be free. You just have to pay a minimal amount to
                increase your product limit.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-block">
              <h4 class="content-block__title">
                How do I take payments?
              </h4>
              <p class="content-block__paragraph text-justify">
                You can use your existing Bank account. Zero offers integrations to take payments via different methods
                like Credit, Debit, eWallet etc.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-block">
              <h4 class="content-block__title">
                Can I use my own domain name?
              </h4>
              <p class="content-block__paragraph text-justify">
                Yes you can connect your own personal domain very easily with Zero . You get a free domain connection
                with Zero s Yearly Package.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contactus">
    <div class="block-44 py-5">
      <div class="container">
        <div class="row px-0 mx-0 justify-content-center align-items-center">
          <div class="block-44__logo-container col-6">
            <img class="block-44__logo" src="assets/icon/zero-bgless.png">
            <p class="block-41__copyrights mt-3">MALAYSIA<br />+60-1082-0805</p>
          </div>
          <div class="col-6 ">
            <h5 class="contact-info__title mb-3 text-right foot-conn-my">Connect With Us</h5>
            <!-- <a class="btn btn-primary float-right mr-5" href="mailto:info@boolecorporation.com">SEND MESSAGE</a> -->
            <a href="https://wa.me/60108200805?text=Hi%20There!" class="btn btn-primary float-right mr-5"
              target="_blank">SEND
              MESSAGE</a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <hr class="block-44__divider">
        <div class="container">
          <div class="row flex-column flex-md-row px-2 justify-content-center">
            <p class="block-41__copyrights text-center">POWERED BY ZERO</p>
          </div>
          <div class="ion-text-center">
            <ion-anchor expand="block" routerLink="/privacypolicy" routerDirection="forward">
              PrivacyPolicy
            </ion-anchor>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>