<ion-header>
  <ion-toolbar>
    <ion-title>
      Checkout
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          Your Cart
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <product-item *ngFor="let plate of orders" [plate]="plate"></product-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          Name <span style="color:red">*</span>
        </h3>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;">
      <ion-input [(ngModel)]="userName" placeholder="Type in your name" required></ion-input>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid *ngIf="this.as.activeDelivery.id === 1">
    <ion-row>
      <ion-col>
          Address
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;">
      <input class="custom-input" #addressText id="addressText" [(ngModel)]="address"/>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <!-- <ion-row>
      <ion-col>
          Delivery Options
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group mode="md" value="{{this.as.activeDelivery.id}}">
            <ion-item>
              <ion-radio slot="start" value="{{this.as.activeDelivery.id}}"></ion-radio>
              <ion-label>{{this.as.activeDelivery.label}}</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <!-- <h3> -->
          Bill details
        <!-- </h3> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Item Total
      </ion-col>
      <ion-col class="checkout-col">
        RM {{(calcTotal()).toFixed(2)}}
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        Delivery Fee
      </ion-col>
      <ion-col class="checkout-col">
        RM {{(deliveryFee || 0).toFixed(2)}}
      </ion-col>
    </ion-row> -->
    <ion-row style="border-top: 1px solid #ccc;">
      <ion-col>
        <p class="bold">Total:</p>
      </ion-col>
      <ion-col class="checkout-col">
       <p class="bold">RM {{(calcTotal() + (deliveryFee || 0)).toFixed(2)}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button [disabled]="userName.length === 0" (click)="goToWhats()" color="primary" expand="block" size="large">
      Order Now
    </ion-button>
  </ion-toolbar>
</ion-footer>
