.header {
  height: 15%;
  background: url("https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  filter: blur(0.5px);

  &__user-container {
    position: absolute;
    width: 100%;
    bottom: 5px;
    flex-direction: row;
    flex: 1;
  }

  .avatar {
    border: 1px solid white;
  }

  .name {
    align-items: center;
    justify-content: center;
    align-content: center;
    span {
      font-weight: bolder;
    }
  }
}

ion-item {
  --background: transparent;
  --color: white;
}

ion-item.quantity {
}

ion-avatar {
  height: 50px;
  width: 50px;
  border: 2px solid white;
}

.title {
  font-weight: bolder;
  font-size: 1.5rem;
}
ion-button.reset {
  margin: 0;
}

ion-item.separate {
  margin-top: 3px;
  margin-bottom: 3px;
}
.border {
  border-radius: 7px;
}

ion-input {
  --color: black;
}
