.input-width {
  width: 25px;
  background: white;
  border: 1px solid #999;
  border-radius: 3px;
  color: black;
  text-align: center;
}

.checkout-col {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold {
  font-weight: bolder;
}

ion-button.special {
  margin-inline-start: 2px;
}

.custom-input {
  width: 100%;
  background-color: white;
  border: none;
}
