<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText" placeholder="Search for Menu Items"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <product-item *ngFor="let plate of platesCopy | searchProductFilter: searchText" [plate]="plate"></product-item>
  </ion-list>
</ion-content>
